# Build directories
build/
out/
cmake-build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
CTestTestfile.cmake

# Binaries and objects
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS/Linux junk
.DS_Store
Thumbs.db
